body {
  background-image: url("../img/backgroundtall.png");
}
/* nav */
.littleM a:hover {
  background-color: rgba(0, 0, 0, 0);
}

.list {
  list-style: none;
}

a:link, a:visited {
  color: #2F415E;
  text-align: center;
  text-decoration: none; 
  float: right;
}
.navbar {
  background-color: #2F415E;
  /* text-decoration: none;
  color: aliceblue; */
}

.Mlogo {
  margin-top: 20vh;
  margin-bottom: 20vh;
  padding: 100px;
}

/* footer */
.foot {
  color: aliceblue;
  font-weight: 700;
  background-color: #2F415E;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 120px;          
  }
}

#instagramLogo {
  background: rgba(0, 0, 0, 0);

}