body {
  background-color: #424242;
}
.homepage {
  background-image: url("../img/backgroundtall.png");
}
/* nav */
.littleM a:hover {
  background-color: rgba(0, 0, 0, 0);
}

.list {
  list-style: none;
}

a:link, a:visited {
  color: #2F415E;
  text-align: center;
  text-decoration: none; 
  float: right;
}
.navbar {
  background-color: #2F415E;

}

/* End-Nav */

/* homepage */
.Mlogo {
  margin-top: 20vh;
  margin-bottom: 20vh;
  padding: 100px;
}
/* End-of-Homepage */

/* Projects */

/* End-of-Projects */

/* Photos */
/* End-of-Photos */

/* Price */
.Pbody {
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}
/* End-of-Price */

/* Real-Estate */
/* End-of-Real-Estate */

/* Videos */
/* End-of-Videos */

/* About */
/* End-of-About */

/* Contact */
/* End-of-contats */

/* footer */
.foot {
  color: aliceblue;
  font-weight: 700;
  background-color: #2F415E;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 120px;          
  }

#instagramLogo {
  background: rgba(0, 0, 0, 0);

}
/* End-of-Footer */